@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source './node_modules/heroui-native/lib';

@theme {
  --font-sans: "Manrope_400Regular";
  --font-medium: "Manrope_500Medium";
  --font-semibold: "Manrope_600SemiBold";
  --font-bold: "Manrope_700Bold";

  --color-accent: #2f6bff;
  --color-accent-foreground: #ffffff;
  --color-accent-soft: #dbe6ff;
  --color-surface-page: #f2f4f8;
  --color-ink: #0b1220;
}

@utility font-normal {
  font-family: "Manrope_400Regular";
}
@utility font-medium {
  font-family: "Manrope_500Medium";
}
@utility font-semibold {
  font-family: "Manrope_600SemiBold";
}
@utility font-bold {
  font-family: "Manrope_700Bold";
}
@utility font-extrabold {
  font-family: "Manrope_800ExtraBold";
}
@utility font-black {
  font-family: "Manrope_800ExtraBold";
}

@layer theme {
  :root {
    @variant light {
      --color-accent: #2f6bff;
      --color-accent-foreground: #ffffff;
      --color-accent-soft: #dbe6ff;
      --color-surface-page: #f2f4f8;
      --color-ink: #0b1220;
      --color-background: #f2f4f8;
      --color-foreground: #0b1220;
    }

    @variant dark {
      --color-accent: #7aa2ff;
      --color-accent-foreground: #0b1220;
      --color-accent-soft: #1a2744;
      --color-surface-page: #0b0f17;
      --color-ink: #f5f7ff;
      --color-background: #0b0f17;
      --color-foreground: #f5f7ff;
    }
  }
}
